.idea
vendor
test
log
gossm
gossm.exe
test
coverage.txt
dist
gopath
cosign.key

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
